[user]
    name = Nathan Dumar
    email = njdumar@gmail.com
[core]
    filemode = false
    trustctime = false
    editor = vim
    warnambiguousrefs = false
    autocrlf = input
[diff]
    tool = nvimdiff
    renameLimit = 999999
    mergeLimit = 999999
[difftool]
    prompt = true
[merge]
    tool = nvimmerge
    conflictstyle = diff3
    renameLimit = 999999
    ff = false
[mergetool "mymeld"]
    cmd = meld --diff $BASE $LOCAL --diff $BASE $REMOTE --auto-merge $LOCAL $BASE $REMOTE --output $MERGED
[mergetool "nvimmerge"]
    cmd = nvim -f -d -c '4wincmd w | wincmd J' $LOCAL $BASE $REMOTE $MERGED
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[difftool "bc4"]
    trustExitCode = true
[push]
    default = current
[svn]
    pushmergeinfo = true
[pull]
    rebase = true
[gitreview]
    remote = origin
[rerere]
    enabled = true
[fetch]
    prune = true
    cmd = /usr/bin/bcompare $LOCAL $REMOTE
[alias]

    find-merge = "!sh -c 'commit=$0 && branch=${1:-HEAD} && (git rev-list $commit..$branch --ancestry-path | cat -n; git rev-list $commit..$branch --first-parent | cat -n) | sort -k2 -s | uniq -f1 -d | sort -n | tail -1 | cut -f2'"
    show-merge = "!sh -c 'merge=$(git find-merge $0 $1) && [ -n \"$merge\" ] && git show $merge'"

    # Log of current branch
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --first-parent

    # Log of all branches
    lgall = log --graph --color --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) \
        %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%C(bold white)  — %an%C(reset)\
        %n''          %C(white)%s%C(reset) ' --abbrev-commit

    # Log of all branches, one line
    lgallone = log --graph --color --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) \
          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit \
          --date=relative

    # Log of all branches, first parent for cleaner log
    lgfirst = log --graph --color --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold yellow)%d%C(reset)%C(bold white) %an%C(reset) %C(white)%s%C(reset) ' --abbrev-commit --first-parent

    # Show only the branches, not all the commits
    heir = log --graph --color --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) \
          %C(white)%s%C(reset) %C(bold white)— %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit \
          --date=relative --simplify-by-decoration

    listbranch = !git for-each-ref --format='%(color:cyan)%(authordate:format:%m/%d/%Y %I:%M %p)    \
        %(align:25,left)%(color:yellow)%(authorname)%(end) %(color:reset)%(refname)' --sort=authordate refs/remotes

    co = checkout
    st = status
    cp = cherry-pick -X patience -X ignore-space-change
    pullsub = !git pull && git submodule update --recursive --init
    mergenff = merge --no-ff
    unstage = reset HEAD
    uncommit = reset --soft HEAD^
    npdiff = diff --no-prefix
    track = "!f() { ( git for-each-ref --format=\"local: %(refname:short) <--sync--> remote: %(upstream:short)\" refs/heads && echo --Remotes && git remote -v); }; f"
    ignored = !git ls-files -v | grep "^[[:lower:]]"

    getindex = show :$1
    # Alternatively, git checkout-index --prefix=<temp/> -- $1

    divergedlong = !sh -c 'echo "" &&\
        echo "Commits in $1 and not in yours" &&\
        git cherry -v @ $1 &&\
        echo "" &&\
        echo "Commits in your branch and not in $1" &&\
        git cherry -v $1 @' -

    diverged = !sh -c 'echo "" &&\
        echo "You are ahead of $1 by `git cherry -v ${1} @ | wc -l` commits and behind by\
        `git cherry -v @ ${1} | wc -l` commits" && echo ""' -

    branchcompare = !sh -c 'echo "" &&\
        echo "$2 is ahead of $1 by `git cherry -v ${1} ${2} | wc -l` commits and behind by\
        `git cherry -v ${2} ${1} | wc -l` commits" && echo ""' -

    branchcomparelong = !sh -c 'echo "" &&\
        echo "Commits in $1 and not $2" &&\
        git cherry -v $2 $1 &&\
        echo "" &&\
        echo "Commits in $2 and not in $1" &&\
        git cherry -v $1 $2' -

    listtags = "!f() { git log --simplify-by-decoration --decorate --pretty=oneline $1 | fgrep 'tag: '; }; f"

    listuniquetags = "!f() {\
                            baseCommit=`git merge-base $1 $2`;\
                            echo $baseCommit;\
                            git log --simplify-by-decoration --decorate --pretty=oneline $baseCommit..$2 | fgrep 'tag: ';\
                         }; f"

    # Find the common base between where you are and the branch you are merging into. Merge into that base to create a single
    # commit out of your branch
    automerge = "!f() {\
        if [ $# -eq 1 ];\
        then\
            currentCommit=`git rev-parse HEAD`;\
            currentBranch=`git rev-parse --abbrev-ref HEAD`;\
            baseCommit=`git merge-base $1 HEAD`;\
            git checkout $baseCommit;\
            git merge --squash --ff $currentCommit;\
            git commit;\
            git tag -f SQUASHED_COMMIT;\
            git checkout ${currentBranch#heads/};\
            echo;\
            echo 'Example push to Gerrit:';\
            echo 'Draft:  git push origin SQUASHED_COMMIT:refs/drafts/main';\
            echo 'Review: git push origin SQUASHED_COMMIT:refs/for/main';\
        else\
            echo '';\
            echo 'Supply the branch name you are merging into';\
            echo 'Example: git automerge origin/main';\
        fi;\
        }; f"

    # Open a diff of every unstaged change in a tab in vim/gvim
    vimdiff="!vim -p $(git diff --name-only) -c 'tabdo :Gvdiff'"

    # Open a diff of every change in your current commit in a tab in vim/gvim
    vimpreviousdiff="!vim -p $(git diff --name-only HEAD~1 HEAD) -c 'tabdo :Gvdiff HEAD~1'"

    # Open a diff of every change between where you are and the specifiec location (usually a branch) in a tab in vim/gvim
    vimbranchdiff = "!f() {\
                        vim -p $(git diff --name-only $1 HEAD) -c \"tabdo :Gvdiff $1\";\
                     }; f"

    # If you're using Beyond Compare as a difftool, open new sessions in tabs
    diffallbc = "!f() { (git diff --name-only \"$@\") | while read filename; do\
                       (git difftool \"$@\" --no-prompt \"$filename\" &) done }; f"

    # Ammend all modified files to commit, keep the commit message
    commend = commit -a --amend --no-edit
    comend = !git commend

    # List all files where conflict markers are found. Excludes .git folder and binary files
    #
    # git listconflicts
    # git listconflicts <directory>
    # git listconflicts <filename>
    #
    listconflicts = "!f() {\
        if [ $# -ge 1 ];\
        then\
            dir=$1;\
        else\
            dir='';\
        fi;\
        (git grep -Il '^<<<<<<<' -- $dir);\
        }; f"

[checkout]
    defaultRemote = origin
[branch]
    autosetuprebase = always
